* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
h2{
    background-color: cornflowerblue;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}
nav.danhmuc{
    background-color: aqua;
    color: black;
    text-decoration: solid;
    
}

nav ul li {
    margin: 0 15px;
    justify-self: left;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
}
p.price{
    color: red;
}

.product img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
